# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [29]:
print(g_key)

AIzaSyBZkw5TGRPnPxyf2Qvsdc5qvk7ogRfHkVQ

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#load csv
city_data='output/cities.csv'
#read csv
city=pd.read_csv(city_data)
city

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,biak,-0.9131,122.8766,80.67,76,96,3.22,ID,1618461958
1,shimoda,34.6667,138.9500,55.40,47,75,9.22,JP,1618461958
2,rikitea,-23.1203,-134.9692,78.57,72,13,8.68,PF,1618461805
3,tromso,69.6496,18.9570,33.80,93,90,17.27,NO,1618461959
4,port blair,11.6667,92.7500,85.68,66,100,4.97,IN,1618461904
...,...,...,...,...,...,...,...,...,...
566,palabuhanratu,32.7593,-97.7972,59.00,89,100,5.01,US,1618462165
567,ucluelet,42.4308,130.6434,49.12,43,75,12.62,RU,1618462165
568,puerto escondido,34.1743,-97.1436,54.00,94,90,10.36,US,1618462165
569,bria,7.9868,117.0645,84.81,68,68,9.84,PH,1618462166
570,te anau,-7.9500,110.2833,85.66,66,26,10.11,ID,1618462166

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmaps with API key
gmaps.configure(api_key=g_key)

In [16]:
#store Lat and Lng into locations
locations=city[['Lat', 'Lng']].astype(float)
citytrim=city.dropna()
humidity=citytrim['Humidity'].astype(float)

In [8]:
#create heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
citytrim

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,biak,-0.9131,122.8766,80.67,76,96,3.22,ID,1618461958
1,shimoda,34.6667,138.9500,55.40,47,75,9.22,JP,1618461958
2,rikitea,-23.1203,-134.9692,78.57,72,13,8.68,PF,1618461805
3,tromso,69.6496,18.9570,33.80,93,90,17.27,NO,1618461959
4,port blair,11.6667,92.7500,85.68,66,100,4.97,IN,1618461904
...,...,...,...,...,...,...,...,...,...
566,palabuhanratu,32.7593,-97.7972,59.00,89,100,5.01,US,1618462165
567,ucluelet,42.4308,130.6434,49.12,43,75,12.62,RU,1618462165
568,puerto escondido,34.1743,-97.1436,54.00,94,90,10.36,US,1618462165
569,bria,7.9868,117.0645,84.81,68,68,9.84,PH,1618462166
570,te anau,-7.9500,110.2833,85.66,66,26,10.11,ID,1618462166

In [23]:
vaccity1=citytrim[(citytrim['Max Temp']>=65)&(citytrim['Max Temp']<=85)]
vaccity2=vaccity1[(vaccity1['Wind Speed']<=10)]
vaccity=vaccity2[(vaccity2['Cloudiness']<10)]
vaccity

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
26,tecoanapa,18.4273,-68.9728,69.19,75,3,8.28,DO,1618461924
33,upernavik,-21.2078,-159.7750,80.60,69,3,6.91,CK,1618461970
42,kulhudhuffushi,-29.6643,17.8865,70.50,25,1,6.40,ZA,1618461974
45,mahebourg,-24.7117,33.8828,66.92,86,0,1.14,MZ,1618461975
71,brae,-32.7167,152.1500,78.01,50,0,8.05,AU,1618461984
88,srednekolymsk,-27.6146,-48.5012,75.99,88,0,4.61,BR,1618461798
142,alibag,19.9333,-105.2500,66.79,88,0,1.45,MX,1618462010
151,cahors,-21.3585,55.7679,78.80,73,0,4.61,RE,1618461858
155,akyab,14.4000,46.4667,77.13,33,2,3.96,YE,1618462015
188,vao,-27.4606,-58.9839,73.00,88,0,2.30,AR,1618462026
197,waingapu,-35.7167,150.1833,70.00,65,7,5.01,AU,1618462029
234,lamar,-34.5703,-59.1050,66.00,91,0,3.00,AR,1618461947
242,nguiu,-26.5333,151.8333,81.00,36,0,5.75,AU,1618462047
248,slobozia,-16.1944,-55.9675,78.80,73,0,5.75,BR,1618462049
251,sri aman,18.7333,-103.6833,70.02,85,0,3.27,MX,1618461920
276,vostok,-20.3297,-40.2925,71.60,78,0,4.61,BR,1618462058
338,miranorte,-21.3667,55.6167,78.80,73,0,4.61,RE,1618461915
354,hanumangarh,21.4612,-71.1419,73.78,64,4,9.86,TC,1618461824
363,padang,10.5669,72.6420,83.86,68,3,2.93,IN,1618461925
369,ambon,-35.1000,173.7833,66.99,66,6,8.01,NZ,1618462091
374,delvada,13.9216,44.1467,66.72,56,7,0.49,YE,1618462093
398,inhambupe,-34.5833,150.8552,79.00,39,1,7.00,AU,1618461811
433,kendari,21.6967,-78.6328,69.01,81,0,8.70,CU,1618462114
457,kushmurun,28.0170,-97.5169,77.00,88,1,8.05,US,1618462124
486,bur gabo,-23.7167,44.3833,76.53,66,1,1.28,MG,1618462134
496,kapchorwa,-28.2400,-48.6703,68.00,88,0,4.61,BR,1618462138
513,nago,24.0934,32.9070,75.38,16,0,8.59,EG,1618462145
521,prince rupert,15.8500,-97.0667,78.80,78,1,7.49,MX,1618461949

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df=vaccity[['City', 'Country', 'Lat', 'Lng']]
hotel_df.head()

              City Country      Lat       Lng
26       tecoanapa      DO  18.4273  -68.9728
33       upernavik      CK -21.2078 -159.7750
42  kulhudhuffushi      ZA -29.6643   17.8865
45       mahebourg      MZ -24.7117   33.8828
71            brae      AU -32.7167  152.1500

In [27]:
hotel_df['Hotel Name']=""

<ipython-input-27-16a04d88ef55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name']=""

In [28]:
#find the cloest hotel
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

               City Country      Lat       Lng Hotel Name
26        tecoanapa      DO  18.4273  -68.9728
33        upernavik      CK -21.2078 -159.7750
42   kulhudhuffushi      ZA -29.6643   17.8865
45        mahebourg      MZ -24.7117   33.8828
71             brae      AU -32.7167  152.1500
88    srednekolymsk      BR -27.6146  -48.5012
142          alibag      MX  19.9333 -105.2500
151          cahors      RE -21.3585   55.7679
155           akyab      YE  14.4000   46.4667
188             vao      AR -27.4606  -58.9839
197        waingapu      AU -35.7167  150.1833
234           lamar      AR -34.5703  -59.1050
242           nguiu      AU -26.5333  151.8333
248        slobozia      BR -16.1944  -55.9675
251        sri aman      MX  18.7333 -103.6833
276          vostok      BR -20.3297  -40.2925
338       miranorte      RE -21.3667   55.6167
354     hanumangarh      TC  21.4612  -71.1419
363          padang      IN  10.5669   72.6420
369           ambon      NZ -35.1000  173.7833
374         delvada      YE  13.9216   44.1467
398       inhambupe      AU -34.5833  150.8552
433         kendari      CU  21.6967  -78.6328
457       kushmurun      US  28.0170  -97.5169
486        bur gabo      MG -23.7167   44.3833
496       kapchorwa      BR -28.2400  -48.6703
513            nago      EG  24.0934   32.9070
521   prince rupert      MX  15.8500  -97.0667

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure