# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#load csv
city_data='output/cities.csv'
#read csv
city=pd.read_csv(city_data)
city.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,biak,-0.9131,122.8766,80.67,76,96,3.22,ID,1618461958
1,shimoda,34.6667,138.9500,55.40,47,75,9.22,JP,1618461958
2,rikitea,-23.1203,-134.9692,78.57,72,13,8.68,PF,1618461805
3,tromso,69.6496,18.9570,33.80,93,90,17.27,NO,1618461959
4,port blair,11.6667,92.7500,85.68,66,100,4.97,IN,1618461904

In [3]:
#configure gmaps with API key
gmaps.configure(api_key=g_key)

### Camp Map
* Store into variable named `hotel_df`.
* Add a "Campground" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [4]:
citytrim=city.dropna()
vanlife1=citytrim[(citytrim['Country']=='US')]
vanlife=vanlife1[(vanlife1['Lat']<=50)&(vanlife1['Lat']>=23)]
len(vanlife.index)

47

In [5]:
locations=vanlife[['Lat', 'Lng']].astype(float)
temp=vanlife['Max Temp'].astype(float)
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=temp, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
camp_df=vanlife[['City', 'Country', 'Lat', 'Lng']].copy()
camp_df["Campground"] = ""
#len(camp_df.index)
camp_df.head()

              City Country      Lat       Lng Campground
36          avarua      US  34.6391 -120.4579
47       taolanaro      US  42.0970  -79.2353
49       busselton      US  42.6001  -73.9662
55  port elizabeth      US  37.1041 -113.5841
82        bac lieu      US  42.2506  -75.8330

In [7]:
#find the cloest campground
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
locations=camp_df[["Lat", "Lng"]].astype(float)
params = {"rankby": "distance",
    "type": "campground",
    "key": g_key,
}
for index, x in camp_df.iterrows():
    params["location"]=f"{x['Lat']},{x['Lng']}"
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        #print(f"found camp {results[0]['name']}")
        camp_df.loc[index,"Campground"]=results[0]['name']
        
    except (KeyError, IndexError):
        "Missing field/result... skipping."
        
camp_df.head()

,City,Country,Lat,Lng,Campground
36,avarua,US,34.6391,-120.4579,River Park
47,taolanaro,US,42.0970,-79.2353,Red House Campground
49,busselton,US,42.6001,-73.9662,
55,port elizabeth,US,37.1041,-113.5841,Hillside Palms RV Park & RV Storage & Tiny Homes
82,bac lieu,US,42.2506,-75.8330,Salisbury Chenango Shores

In [8]:
# Using the template add the campground marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Campground}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
camp_info = [info_box_template.format(**row) for index, row in camp_df.iterrows()]
locations = camp_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=camp_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))